@font-face {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  src: local('Adobe Garamond Pro'), local('Adobe-Garamond-Pro-Regular'), url('Adobe-Garamond-Pro-Regular.ttf') format('ttf'), url('previewfonts/Adobe-Garamond-Pro-Regular.ttf') format('ttf');
}
@font-face {
  font-family: adobe-garamond-pro, serif;
  font-weight: 600;
  font-style: normal;
  src: local('Adobe Garamond Pro Semibold'), local('Adobe-Garamond-Pro-Semibold'), url('previewfonts/Adobe-Garamond-Pro-Semibold.otf') format('otf'), url('previewfonts/Adobe-Garamond-Pro-Semibold.otf') format('otf');
}