body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u14 {
  position:absolute;
  left:0px;
  top:0px;
}
.u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
  background-image:none;
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
}
.u14_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u14_state0_content {
  left:-5px;
  top:-5px;
}
.u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
}
.u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
  display:flex;
}
.u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u14_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
  background-image:none;
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
  visibility:hidden;
}
.u14_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u14_state1_content {
  left:-5px;
  top:-5px;
}
.u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
.u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
  display:flex;
  font-size:20px;
}
.u16 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
}
#u13-2 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:0px;
  width:243px;
  height:199px;
}
#u13-3 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:0px;
  width:243px;
  height:199px;
}
#u13-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:219px;
  width:243px;
  height:199px;
}
#u13-5 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:219px;
  width:243px;
  height:199px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:127px;
  width:829px;
  height:418px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u17 {
  position:fixed;
  left:50%;
  margin-left:-512px;
  top:0px;
  width:1024px;
  height:90px;
}
#u17_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:24px;
  width:221px;
  height:66px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:24px;
  width:119px;
  height:42px;
  display:flex;
  opacity:0.6;
}
#u19 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19.mouseOver {
  opacity:1;
}
#u19_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19.selected {
  opacity:1;
}
#u19_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:24px;
  width:135px;
  height:42px;
  display:flex;
  opacity:0.6;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20.mouseOver {
  opacity:1;
}
#u20_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20.selected {
  opacity:1;
}
#u20_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:24px;
  width:9px;
  height:42px;
  display:flex;
  opacity:0.6;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:29px;
  width:26px;
  height:26px;
  display:flex;
  opacity:0.6;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
  opacity:1;
}
#u22_img.selected {
}
#u22.selected {
  opacity:1;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:29px;
  width:26px;
  height:26px;
  display:flex;
  opacity:0.6;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_img.selected {
}
#u23.selected {
  opacity:1;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
