.ax_default {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.image {
}
.heading_1 {
  font-family:'Adobe Garamond Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  font-family:'Adobe Garamond Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.text_link {
  font-family:'Adobe Garamond Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.line {
}
.menu {
  font-family:'Adobe Garamond Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  text-align:left;
}
.repeater_lista_portfolio {
  font-family:'Adobe Garamond Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  text-align:center;
}
.shape {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.headery_cv {
  font-family:'Adobe Garamond Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#37B5A7;
  text-align:left;
}
.text_cv {
  font-family:'Adobe Garamond Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
.icon {
}
.header_bez_cieni {
  font-family:'Adobe Garamond Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#37B5A7;
  text-align:left;
}
textarea, select, input, button { outline: none; }
