body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u2 {
  position:absolute;
  left:0px;
  top:0px;
}
.u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
  background-image:none;
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
}
.u2_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2_state0_content {
  left:-5px;
  top:-5px;
}
.u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
}
.u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
  display:flex;
}
.u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
  background-image:none;
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
  visibility:hidden;
}
.u2_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2_state1_content {
  left:-5px;
  top:-5px;
}
.u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Garamond Pro';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
  display:flex;
  font-family:'Adobe Garamond Pro';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u4 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:199px;
}
#u1-2 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:0px;
  width:243px;
  height:199px;
}
#u1-3 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:0px;
  width:243px;
  height:199px;
}
#u1-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:219px;
  width:243px;
  height:199px;
}
#u1-5 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:219px;
  width:243px;
  height:199px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:127px;
  width:829px;
  height:418px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5 {
  position:fixed;
  left:50%;
  margin-left:-512px;
  top:1px;
  width:1024px;
  height:90px;
}
#u5_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:fixed;
  left:0px;
  top:0px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:24px;
  width:221px;
  height:66px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:24px;
  width:119px;
  height:42px;
  display:flex;
  opacity:0.6;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8.mouseOver {
  opacity:1;
}
#u8_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8.selected {
  opacity:1;
}
#u8_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:24px;
  width:106px;
  height:42px;
  display:flex;
  opacity:0.6;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9.mouseOver {
  opacity:1;
}
#u9_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9.selected {
  opacity:1;
}
#u9_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:24px;
  width:9px;
  height:42px;
  display:flex;
  opacity:0.6;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:29px;
  width:26px;
  height:26px;
  display:flex;
  opacity:0.6;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_img.selected {
}
#u11.selected {
  opacity:1;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:29px;
  width:26px;
  height:26px;
  display:flex;
  opacity:0.6;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_img.selected {
}
#u12.selected {
  opacity:1;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
